.action-order{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.action-order-fonts{
    font-size: 17px !important;
    font-weight: 700 !important;
}

.order-icons{
    font-size: 20px;
}
.font-13{
    font-size: 13px;
}
.font-15{
    font-size: 15px;
}
.font-17{
    font-size: 17px;
}
.font-20{
    font-size: 20px;
}
.order-product-image{
    border: none !important;
}

.table th, .table td, .table.table-cart tr td , .table.table-cart tr td {
    
    border-top: none !important;
}
.tr-head{
    /* display: none; */
}

.pointer{
    cursor: pointer;
}





.item-row{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
}
.item-orderId{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
}
.item-name-img-div{
    
}
.item-img{
    width: 25%;
    height: 90px;
}
.item-name-wrapper{
    /* justify-content: center; */
    font-size: 15px;
    font-weight: 600;
}
.item-name{
    align-self: center;
    font-size: 17px;
    font-weight: 800;
}
.item-actions{
    font-size: 15px;
    font-weight: 600;
    justify-content: flex-end;
}
/* .wishlist-wrap{
    padding: 0px 25px;
} */
.item-actions > div:nth-child(1){

}

.item-actions > div:nth-child(2){
    
}
.item-qty{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}
.item-price, .item-subtotal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

.mobile-item-details-wrapper{
    display: none;
}
.mobile-order-no{
    display: none;
}

.mobile-status-price{
    display: none !important;
}

.btn-buy-now{
    min-width: 60% !important;
    height: 40px !important;
    font-size: 12px;
    padding: 0 !important;
    border-radius: 5px !important;
}

.img-empty-state{
    
}

@media (max-width: 767px){
    .mobile-item-details-wrapper{
        display: block;
    }
    .mobile-order-no > span:nth-child(2){
        font-size: 17px;
        font-weight: 600;
    }
    .mobile-hide{
        display: none;
    }
    .item-header{
        display: none;
    }
    .mobile-status-price{
        display: block !important;
    }
.mobile-price{
    /* text-align: right;
    font-size: 20px;
    padding: 0;
    margin: 0; */
    text-align: right;
    font-size: 16px;
}
.hide-mobile{
    display: none !important;
}
.qty-div{
    display: flex;
    width: 55%;
}
.qty-div input{
    font-size: 12px;
    padding: 0;
    margin: 0;
    height: 32px;
}
.qty-add, .qty-sub{
    font-size: 20px;
    font-weight: 800;
    padding: 0 10px;
}
.calc-div{
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 22px;
}
.mobile-item-subtotal{
    font-size: 20px;
    font-weight: 600;
    color: #2196f3;
}
.item-row {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
}
.item-name {
    align-self: center;
    font-size: 21px;
    font-weight: 800;
}

}